# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.unitybasics_homework_4.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\UnityGit\unitybasics_homework_4\.idea\.idea.unitybasics_homework_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
